<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/roman_hibernate?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <!--    <property name="hibernate.connection.characterEncoding">utf8</property>-->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="default_schema">roman_hibernate</property>
        <!--    <property name="current_session_context_class">thread</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="format_sql">true</property>
        <!--    <property name="use_sql_comments">true</property>-->

        <mapping class="com.hibernate.motovilov.entity.User"/>
        <mapping class="com.hibernate.motovilov.entity.Figure"/>
        <mapping class="com.hibernate.motovilov.entity.Material"/>
        <mapping class="com.hibernate.motovilov.entity.Price"/>
        <mapping class="com.hibernate.motovilov.entity.IceCream"/>
        <mapping class="com.hibernate.motovilov.entity.Item"/>
        <mapping class="com.hibernate.motovilov.entity.Bicycle"/>
        <mapping class="com.hibernate.motovilov.entity.Rower"/>
        <mapping class="com.hibernate.motovilov.entity.Currency"/>
        <mapping class="com.hibernate.motovilov.entity.Wheel"/>
        <mapping class="com.hibernate.motovilov.entity.Shape"/>
        <mapping class="com.hibernate.motovilov.entity.User1"/>
        <mapping class="com.hibernate.motovilov.entity.User2"/>
        <mapping class="com.hibernate.motovilov.entity.User3"/>
        <mapping class="com.hibernate.motovilov.entity.User4"/>
        <mapping class="com.hibernate.motovilov.entity.User5"/>
        <mapping class="com.hibernate.motovilov.entity.Role1"/>
        <mapping class="com.hibernate.motovilov.entity.Role2"/>
        <mapping class="com.hibernate.motovilov.entity.Role3"/>
        <mapping class="com.hibernate.motovilov.entity.Role4"/>
        <mapping class="com.hibernate.motovilov.entity.Role5"/>
        <mapping class="com.hibernate.motovilov.entity.Account"/>
        <mapping class="com.hibernate.motovilov.entity.CreditAccount"/>
        <mapping class="com.hibernate.motovilov.entity.DebitAccount"/>

        <mapping resource="entities/Email.hbm.xml"/>
    </session-factory>
</hibernate-configuration>